/* body {
  background: url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
} */
body {
  /* background-color: #343A40; */
  color: black;

}
#jumbotron {
  margin-top: 40px;
  color: #343A40;
  border-radius: 20px;
}
